.navClass{
     margin:  0 auto;
}
li{
    display: inline-block;
    list-style: none;
    margin:10px;
    width:40%;
    text-align: center;
}
a{
    color:black;
    text-decoration:none;
}
a:hover{
    color:green;
}
:global(.nav){
    color:red; /*全局变量*/
}
.nav{
    color:yellow;  /*局部变量*/
}
